.fnk {
  background: white;
  text-align: left;
}

#fsk {
  font-size: 3em;
  margin: 0 0 0 15px;
  padding: 0 0 0 0;
  color: rgb(42, 125, 144);
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
}

.menubar {
  display: inline-block;
  float: right;
  padding-top: 19px;
}

.clear {
	clear: both;
}

a {
  text-decoration: none; 
}

li {
	display: block;
}

p, img {
  display: inline-block;
}

h3 {
	text-align: center;
	font-size: 2em;
}

h4 {
	margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu {
  padding-right: 20px;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
}

.share, .fellowship, .login {
	color: rgb(42, 125, 144);
	padding-right: 10px;
}

/*.menu-icon {
	color: white;
	font-size: 30px;
	float: right;
	margin-right: 20px;
	margin-top: -65px;
}*/

div.wrapper {
	display: block;
	clear: both;
	width: 1000px;
	margin: 0 auto;
	background: #fff;
}

.news {
	display: block;
	float: left;
	width: 32%;
	height: 600px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0.5%;
	color: rgb(42, 125, 144);
	text-align: center;
	margin: 10px 5px 25px 5px;
}

.mass {
	display: block;
	float: left;
	width: 32%;
	height: 600px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0.5%;
	color: rgb(42, 125, 144);
	text-align: center;
	margin: 10px 5px 25px 5px;
}

.staff {
	display: block;
	float: left;
	width: 32%;
	height: 600px;
	margin-bottom: 15px;
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0.5%;
	color: rgb(42, 125, 144);
	text-align: center;
	margin: 10px 5px 25px 5px;
}

#about {
	display: inline-block;
	border-bottom: 2px double rgb(42, 125, 144);
	border-top: 2px double rgb(42, 125, 144);
	width: 98.3%;
	height: 600px;
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(42, 125, 144);
}

.about-church {
	display: inline-block;
	width: 45%;
	height: auto;
	margin: 0 0 0 30px;
	position: relative;
}

.about-church p {
	margin-top: 0;
	font-size: 1.5em;
}

#about img {
	float: left;
	margin-left: 20px;
}

#location {
	border-bottom: 2px solid rgb(42, 125, 144);
	width: 98.3%;
	height: 550px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(42, 125, 144);
	text-align: center;
	padding-bottom: 870px;
}

.address {
	padding-bottom: 20px;
	font-size: 1.5em;
}


footer {
	text-align: center;
}

#us {
	display: block;
	float: left;
	width: 24.1%;
	height: 500px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0.5%;
	margin-top: 15px;
	color: rgb(42, 125, 144);
	text-align: center;
	text-decoration: none;
}

#worship {
	display: block;
	float: left;
	width: 24.1%;
	height: 500px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0.5%;
	margin-top: 15px;
	color: rgb(42, 125, 144);
	text-align: center;
}

#ministries {
	display: block;
	float: left;
	width: 24.1%;
	height: 800px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0.5%;
	margin-top: 15px;
	color: rgb(42, 125, 144);
	text-align: left;
}

#ministries h4 {
	text-align: center;
}

#outreach {
	display: block;
	float: left;
	width: 24.1%;
	height: 300px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 0.5%;
	margin-top: 15px;
	color: rgb(42, 125, 144);
	text-align: center;
}

#outreach h4 {
    margin-bottom: 32px;
}

.f {
	clear: both;
}

























